/* You can add global styles to this file, and also import other style files */
:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    /* CSS HEX */
    --rich-black-fogra-39: #0b0a09ff;
    --raisin-black: #1f2133ff;
    --space-cadet: #25283dff;
    --y-in-mn-blue-solid: #294ea3ff;
    --y-in-mn-blue: #185fca;
    --denim: #315dc4ff;
    --vivid-sky-blue: #2ec5efff;
    --cyan-process: #11b6e4ff;
    --cyan-grey: #58ADEB;
    --white: #ffffffff;
}


body{
    background-color: var(--y-in-mn-blue);
    height: 100%;
    width: 100%;
}
