/* You can add global styles to this file, and also import other style files */
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    /* CSS HEX */
    --rich-black-fogra-39: #0b0a09ff;
    --space-cadet: #25283dff;
    --denim: #315dc4ff;
    --vivid-sky-blue: #2ec5efff;
    --white: #ffffffff;
}



